.jumbotron {
  background-color: #48b4ea;
  color: black;
  margin-top: 10px;
}
.btn-primary{
width: 100%;
border-radius: 10px;
}

footer {
  text-align:center;
  background-color: #dae5e2;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 100px;
  margin-top: 10px;
}

.tab-content {
  padding-top: 10px;
}
